doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Clubhouse App
    nav
    ul
      li 
        a(href="/") Home
      li 
        a(href="/sign-up") Sign Up
    block content
