extends layout

block content
  h2= title
  form(method="POST" action="") 
    label(for="firstname") First name: 
      input(type="text" name="firstname" value=(undefined===user ? '' : user.first_name))
    br

    label(for="lastname") Last name: 
      input(type="text" name="lastname" value=(undefined===user ? '' : user.last_name))
    br

    label(for="username") Username: 
      input(type="text" name="username" value=(undefined===user ? '' : user.username))
    br

    label(for="password") Password: 
      input(type="password" name="password" value=(undefined===user ? '' : user.password))
    br

    label(for="repassword") Re-enter password:  
      input(type="password" name="repassword" value=(undefined===user ? '' : repassword))
    br

    button(type="submit") Submit 
  if errors
    ul(style={color: "red"})
      for error in errors
        li!= error.msg